// post stores styles
.post-store {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    form {
        width: 50%;
        display: grid;
        gap: 10px;
    }
}
.post-edit {
    position: fixed;
    top:0;
    right:0;
    width: 100%;
    height: 100%;
    display: flex;
    // align-items: flex-end;
    justify-content: flex-end;
    div {
        background-color: #efefef;
        width: 65%;
        padding: 0 5%;
        // height: 100%;
        div {
            width: 100%;
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            h4 {
                margin: 10px 0;
            }
        }
        // position: relative;
        // content
        form {
            width: 50%;
            display: grid;
            gap: 10px;
            margin: auto;
            padding-top: 10px;
        }
    }
}